<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page.title }} | {{page.subTitle}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css" />
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <h1 style="color: var(--pico-primary);"><a href="https://www.ashishvishwakarma.com/qdv">Query Dataverse</a></h1>
                </li>
            </ul>
            <ul>
                <li><a href="https://github.com/AshV/Query-Dataverse">Github</a></li>
            </ul>
        </nav>

        {{ content }}

        <p>Feel free to suggest any new queries to be added <a href="https://github.com/AshV/Query-Dataverse/discussions/categories/ideas">here</a>, or log issue <a href="https://github.com/AshV/Query-Dataverse/issues/new">here</a> if facing any.</p>
        <p style="text-align:center">Built with ❤️ by <a href="https://www.linkedin.com/in/ashishvishwakarma-ashv/">AshV</a></p>
    </div>
</body>
</html>
