<!doctype html>
<html>
<head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧮</text></svg>">
    <meta charset="utf-8">
    <title>{{page.title }} | {{page.subTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
</head>
<body>
    <nav class="custom-navbar">
        <div class="brand">
            <a href="{{ '/' | relative_url }}">Query Dataverse</a>
        </div>
        <ul>
            <li><a href="https://github.com/AshV/qdv" class="nav-link" target="_blank">Github</a></li>
        </ul>
    </nav>

    <div class="container">
        {{ content }}
    </div>

    <footer>
        <p>Feel free to suggest any new queries to be added <a href="https://github.com/AshV/Query-Dataverse/discussions/categories/ideas">here</a>, or log issue <a href="https://github.com/AshV/Query-Dataverse/issues/new">here</a> if facing any.</p>
        <p>Built with ❤️ by <a href="https://www.linkedin.com/in/ashishvishwakarma-ashv/" target="_blank">AshV</a></p>
    </footer>
</body>
</html>
