<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧮</text></svg>">
    <title>{{page.title}} | Query Dataverse</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css" />
    <script>
        var query = "";

        GetQuery()
            .then(response => { query = response; })
            .catch(error => { alert("Unexpected Error Occured!"); });

        async function GetQuery() {
            const response = await fetch("https://raw.githubusercontent.com/AshV/QueryDataverse/main/Queries/{{page.queryName}}/fetch.xml");
            return await response.text();
        }
    </script>
    <style>
        [role="tabs"] {
            display: flex;
        }

            [role="tabs"] section {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }

            [role="tabs"] figure {
                flex-grow: 1;
                width: 100%;
                height: 100%;
                display: none;
            }

            [role="tabs"] [type="radio"]:checked + figure {
                display: block;
            }

        nav[role="tab-control"] label.active {
            color: var(--primary);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <h1 style="color: var(--pico-primary);"><a href="https://www.ashishvishwakarma.com/qdv">Query Dataverse</a></h1>
                </li>
            </ul>
            <ul>
                <li><a href="https://github.com/AshV/qdv">Github</a></li>
            </ul>
        </nav>
        <h2>{{page.title}}</h2>
        <hr />
        <a role="button" id="btnRunQuery" onclick="runQueryCheck()" style="width:100%">Select Environment & Click Here To Run Query</a>
        <hr />
        <div>
            <!--Environment Selector-->
            <div id="envList">
            </div>
            <fieldset role="group">
                <input id="txtEnv" type="url" style="font-size:large" placeholder="https://org.crm8.dynamics.com" autofocus />
                <input id="btnAddEnv" type="button" value="Add Environment" />
            </fieldset>
        </div>
        <hr />
        <p>To improve this query, please join disussion <a href="https://github.com/AshV/qdv/discussions/{{page.discussionId}}">here</a>. Feel free to suggest any new queries to be added <a href="https://github.com/AshV/Query-Dataverse/discussions/categories/ideas">here</a>, or log issue <a href="https://github.com/AshV/Query-Dataverse/issues/new">here</a> if facing any.</p>
        <!--Code Tabs-->
        <nav role="tab-control">
            <ul>
                <li><label for="tabFetchXML">FetchXML</label></li>
                <li><label for="tabWebAPI">WebAPI</label></li>
                <li><label for="tabSQL">SQL</label></li>
            </ul>
        </nav>
        <div role="tabs">
            <section>
                <input hidden="hidden" type="radio" name="tabs" id="tabFetchXML" checked="checked" />
                <figure>
                    <iframe frameborder="0" scrolling="no" style="width:100%; height:352px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https://github.com/AshV/Query-Dataverse/blob/main/Queries/{{page.queryName}}/fetch.xml&style=github&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on&fetchFromJsDelivr=on"></iframe>
                </figure>
                <input hidden="hidden" type="radio" name="tabs" id="tabWebAPI" />
                <figure>
                    <iframe frameborder="0" scrolling="no" style="width:100%; height:352px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https://github.com/AshV/Query-Dataverse/blob/main/Queries/{{page.queryName}}/webapi.odata&style=github&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on&fetchFromJsDelivr=on"></iframe>
                </figure>
                <input hidden="hidden" type="radio" name="tabs" id="tabSQL" />
                <figure>
                    <iframe frameborder="0" scrolling="no" style="width:100%; height:352px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https://github.com/AshV/Query-Dataverse/blob/main/Queries/{{page.queryName}}/tds.sql&style=github&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on&fetchFromJsDelivr=on"></iframe>
                </figure>
            </section>
        </div>
        <p style="text-align:center">
            <a target="_blank" id="buildQuery" href="https://github.com/AshV/qdv">🕉️</a>
            Built with ❤️ by <a href="https://www.linkedin.com/in/ashishvishwakarma-ashv/">AshV</a>
        </p>
    </div>
    <script>
        let orgURLs = {};
        let addURL = document.querySelector("#btnAddEnv");
        let orgURL = document.querySelector("#txtEnv");
        let buildQuery = document.querySelector("#buildQuery");
        let apiVersion = "/api/data/v9.2/";

        if (localStorage.getItem("lsOrgURLs") !== null) {
            orgURLs = JSON.parse(localStorage.getItem("lsOrgURLs"));
            renderOrgList();
        }

        orgURL.onchange = function () {
            if (orgURL.value.length === 0)
                return;
            if (isValidURL(orgURL.value)) {
                var url = new URL(orgURL.value);
                orgURL.value = url.origin;
            } else {
                alert("Please enter a valid URL.");
            }
        };

        addURL.onclick = function () {
            if (isValidURL(orgURL.value)) {
                let url = new URL(orgURL.value);
                orgURL.value = url.origin;
                let orgName = url.hostname.split('.')[0];
                orgURLs[orgName] = url.origin;
                localStorage.setItem("lsOrgURLs", JSON.stringify(orgURLs));
                renderOrgList(orgName);
            } else {
                alert("Please enter a valid URL.");
            }
        };

        function runQueryCheck() {
            if (!isValidURL(orgURL.value) || orgURL.value === null)
                alert("Please enter a valid organization URL then retry.");
            else {
                buildQuery.href = `${orgURL.value}/api/data/v9.2/{{page.tablePlural}}?fetchXml=${query}`;
                buildQuery.click();
            }
        };

        function isValidURL(str) {
            regexp = /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
            return regexp.test(str) ? true : false;
        };

        function onChangeEnv(env) {
            orgURL.value = env.value;
            document.querySelectorAll("button").forEach(elem => elem.classList.add("outline"));
            env.classList.remove("outline");
        };

        function removeEnv(env) {
            delete orgURLs[env.parentElement.id];
            localStorage.setItem("lsOrgURLs", JSON.stringify(orgURLs));
            env.parentElement.remove();
        };

        function renderOrgList(selectedOrg) {
            let orgs = '';
            for (let [key, value] of Object.entries(orgURLs)) {
                orgs = orgs + `<button class="outline" onclick="onChangeEnv(this);" id="${key}" value="${value}" title="${value}">${key}<span style="padding-left: 5px;" onclick="removeEnv(this);" title="Remove environment from list">✘</span></button>`;
            }
            document.querySelector("#envList").innerHTML = orgs;
        };

        // Tab Highlighter
        const nodeList = document.querySelectorAll('nav[role="tab-control"] label');
        const eventListenerCallback = setActiveState.bind(null, nodeList);

        nodeList[0].classList.add('outline'); /** add active class to first node  */

        nodeList.forEach((node) => {
            node.addEventListener("click", eventListenerCallback); /** add click event listener to all nodes */
        });

        /** the click handler */
        function setActiveState(nodeList, event) {
            nodeList.forEach((node) => {
                node.classList.remove("outline"); /** remove active class from all nodes */
            });
            event.target.classList.add("outline"); /* set active class on current node */
        }
    </script>
</body>
</html>